* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

[data-theme="dark"] {
    --bg-main-col: #234671;
    --bg-second-col: #1a1a2e;
    --font-col: #cdcdcd;
    --font-hover-col: #FFF;

}

[data-theme="light"] {
    --bg-main-col: #eee;
    --bg-second-col: #4c5469;
    --font-col: #4c5469;
    --font-hover-col: #1a1a2e;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: var(--bg-main-col);
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
    outline: none !important;
}

.outer-cursor {
    position: fixed;
    left: 0;
    border: 1.5px solid var(--font-hover-col);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -50px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 50;
}

.inner-cursor {
    position: fixed;
    left: 0;
    background-color: var(--font-hover-col);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0;
    pointer-events: none;
    transition: .08s;
    transform: translate(-50%, -50%);
    z-index: 50;
}

/*************************************************************[Home Page]********************************************************/
/* =============[Page Styles]=============*/
main.home-page {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

/* =============[Header Styles]=============*/
main.home-page header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: var(--bg-main-col);
    width: 100%;
    height: 8%;
}

main.home-page header nav ul {
    gap: 50px;
}

main.home-page header nav li {
    font-size: 18px;
    font-weight: 650;
    color: var(--font-col);
    transition: 0.3s;
    position: relative;
}

main.home-page header nav li::before {
    content: "";
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    height: 2.5px;
    background-color: var(--font-hover-col);
    position: absolute;
    bottom: -2px;
    transition: .3s;
}

main.home-page header nav li.nav-link {
    cursor: pointer;
}

main.home-page header nav li.nav-link:hover {
    color: var(--font-hover-col);
}

main.home-page header nav li.nav-link:hover::before {
    width: 100%;
}

.custom-collapse {
    position: absolute;
    background: var(--bg-second-col);
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0.4s ease;
    overflow: hidden;
    z-index: 100;
    color: white;
}

.toggle {
    display: none !important;
}

.close-icon {
    cursor: pointer;
    margin: 20px;
    margin: 30px auto 20px;
    border: 2px solid white;
    border-radius: 50%;
    width: fit-content;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =============[Body (Sections) Styles]=============*/
main.home-page section {
    display: flex;
    height: calc(100% - 16%);
    display: flex;
    width: 100%;
    background-color: var(--bg-second-col);
    position: relative;
}


main.home-page section .dep-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 80px;
}

main.home-page section a {
    width: 50%;
    height: 100%;
}

main.home-page section .dep-container img {
    transition: .2s;
}

main.home-page section .dep-container img:first-child {
    max-width: 60%;
    min-width: 300px;
}

main.home-page section .dep-container img:nth-child(2) {
    max-width: 14%;
    min-width: 80px;
}

main.home-page section .dep-container {
    border: 0.1px solid var(--bg-main-col);
    transition: 0.13s ease;
}

main.home-page section .dep-container:hover {
    border: 7px solid var(--bg-main-col);
    cursor: pointer;
}

/* =============[Footer Styles]=============*/

main.home-page footer {
    background-color: var(--bg-main-col);
    padding: 0px 50px;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.home-page footer nav ul {
    gap: 20px;
}

main.home-page footer nav ul li svg {
    font-size: 28px !important;
    color: var(--font-col);
    transition: 0.2s;
}

main.home-page footer nav ul li:hover svg {
    color: var(--font-hover-col) !important;
}

main.home-page footer p {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-col);
}

/* =============[Responsive Home Page Styles]=============*/
@media (max-width: 650px) {

    /*===[Home Page Styles]===*/
    .inner-cursor, .outer-cursor {
        display: none;
    }

    main.home-page .overlay {
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: .3s;
        display: none;
    }

    /* ===[Header Styles]===*/
    main.home-page header {
        padding: 0px 15px;
    }

    .toggle {
        display: block !important;
    }

    main.home-page header nav {
        position: absolute;
        right: -100%;
        bottom: 0;
        width: 200px;
        height: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
        backdrop-filter: blur(25px);
        border: 2px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        z-index: 5;
        padding: 30px 20px;
        transition: .5s;
    }

    main.home-page header nav ul {
        height: 100%;
        align-items: start;
        gap: 15px;
        flex-direction: column;
        justify-content: end;
    }

    main.home-page header nav li {
        font-weight: 600;
        font-size: 20px;
        color: var(--font-hover-col);
    }

    /*===[Body Styles]===*/
    main.home-page section {
        flex-direction: column;
    }

    main.home-page section a {
        width: 100%;
    }

    main.home-page section .dep-container {
        gap: 35px;
    }

    main.home-page section .dep-container img:first-child {
        max-width: 280px;
        min-width: 240px;
    }

    main.home-page section .dep-container img:nth-child(2) {
        max-width: 75px;
        min-width: 60px;
    }

    /*===[Footer Styles]===*/

    main.home-page footer {
        padding: 5px;
    }

    main.home-page footer nav ul {
        gap: 15px;
    }

    main.home-page footer nav ul li svg {
        font-size: 25px !important;
    }
}